/* src/pages/About/About.css */

/* Inquire button specific to About page's context */
.inquire-button {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: normal;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inquire-button:hover {
    background-color: #218838;
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}